version: "3.8"

services:
  app:
    image: maram25/events-app:latest
    ports:
      - "8082:8080"
    depends_on:
      - mysql

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: eventdb
    ports:
      - "3307:3306"

